body {
  background-image: url("../images/fondoHoroscopo.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Contenedor del simulador */
#simulador-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form fieldset {
  border: none;
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

input[type="date"],
select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #3700b3;
}

/* Contenedor para el resultado del horóscopo */
#resultado {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}

/* Historial de consultas */
#historial {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
}

#historial ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#historial li {
  margin-bottom: 10px;
  text-align: left;
}
/* boton de historial*/
#toggleHistorial {
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

#toggleHistorial:hover {
  background-color: #e68900;
}
 
 /* boton de borrar historial  */
#borrarHistorial {
  background-color: #d32f2f;
  color: white;
  padding: 6px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

#borrarHistorial:hover {
  background-color: #b71c1c;
}
